.responsive {
    text-align: center;
    width: 60%;
    height: auto;
}

.line {
    margin-top: 30px;

}

.box {
    justify-content: center;
    align-items: center;
    width: 70%;
    left: calc(15%);
    background-color: #DEF4FF;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
    font-size: 32px;
    margin-top: 40px;
}

.person-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* Ajusta el espacio entre los elementos según sea necesario */
}

