<mat-toolbar class="custom-toolbar">
    <div class="toolbar-content">
   
      <div class="icon-container">
        <span class="spacer"></span>
        <div class="icon-with-label">
          <h2 class="icon-label">CALENDARIO</h2>
          <mat-icon>calendar_month</mat-icon>
        </div>
        <div class="icon-with-label">
          <h2 class="icon-label">ALARMAS</h2>
          <mat-icon>schedule</mat-icon>
        </div>
        <span class="spacer"></span>
      </div>
    </div>
  </mat-toolbar>