.custom-toolbar {
    height: 150px; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    flex-direction: column; /* Alinea el contenido en columna */
  }
  
  .toolbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toolbar-title {
    margin-bottom: 10px;
    font-size: 24px; 
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon-with-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Ajusta el margen según sea necesario */
  }
  
  .icon-label {
    margin-bottom: 5px; /* Ajusta el margen según sea necesario */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .large-icon {
    font-size: inherit;
    margin: 0 60px; /* Mantiene el tamaño del icono según el contexto */
  }