.login-card {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center
}

.header-card {
    max-width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(400px * 0.8);
    background: transparent;
    margin-bottom: 30px;
    margin-left: 120px;
    margin-top: 30px;
}


.box {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 150px;

    position: absolute;
    width: 582px;
    height: 606px;
    left: calc(50% - 291px);
    /* 582px / 2 */
    top: calc(50% - 303px);
    /* 606px / 2 */

    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
    font-size: 32px;
}