mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  overflow-y: auto;
  padding: 80px;
}

.mat-sidenav {
  width: 250px;
}

.page-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background-image: url('/assets/images/background.png'); /* Ruta corregida */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}